:root {
  --height-header: 3rem;
  --height-footer: 3rem;
}

* {
  box-sizing: border-box;
}

.connection {
  margin: auto 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  width: 100%;
}

header {
  height: var(--height-header);
  background-color: cyan;
  padding: .3rem;
}

body {
  margin: 0;
}

main {
  min-height: calc(100vh - var(--height-footer) - var(--height-header));
  padding: 1rem;
}

footer {
  text-align: center;
  height: var(--height-footer);
}

footer p {
  margin: 0;
}

/* index files */

.connection {
  width: 50rem;
  margin: 0 auto;
}
